@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body{
    font-family: Poppins;
    font-weight:300;
}

.main-section {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.card {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 10px 10px 5px lightblue;
    border-radius:.2rem;
    padding:10px;
    width: 45%;
}

.btn-generator {
    border:none;
    background-color: rgb(110, 153, 187);
    padding: 10px;
    color: rgb(241, 241, 241);
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

.btn-generator:hover {
    opacity: 0.5;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

span {
    font-weight:600;
}

img {

    border-radius:1rem;
}

img, .user-details {
    padding:25px;
}

@media only screen and (max-width: 918px) {
    .card {
        width: 600px;
    }

    img, .user-details {
        padding:15px;
    }
}
